/* 기본 스타일 */
/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    background-color: #b3e5fc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 70px; /* 헤더 높이만큼 여백 추가 */
}

/* 헤더 스타일 */
.header-nav {
    position: fixed; /* 상단에 고정 */
    top: 0; /* 페이지의 최상단에 위치 */
    width: 100%; /* 전체 너비 */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0288d1;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.header-nav h1 {
    margin: 0;
    font-size: 1.5em;
}

.header-nav img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.header-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.header-nav a:hover {
    text-decoration: underline;
}

/* 나머지 스타일은 이전과 동일 */


/* 랩퍼 스타일 */
#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#header, #nav, #content, #footer {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#header {
    background-color: #0277bd;
}

#nav {
    background-color: #0288d1;
}

#content {
    background-color: #03a9f4;
}

#footer {
    background-color: #0288d1;
}

/* 이미지 스타일 */
img {
    max-width: 100%;
    height: auto;
}

#content > img {
    width: 400px;
    height: 400px;
}

/* 미디어 쿼리 */
@media (min-width: 600px) {
    #wrap {
        max-width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #content {
        flex: 1;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    #wrap {
        max-width: 750px;
    }
    #header, #nav, #footer {
        flex: 1 100%;
    }
    #content {
        order: 2;
    }
}

@media (min-width: 992px) {
    #wrap {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    #wrap {
        max-width: 1170px;
    }
}
